

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'FF Shamel Family';
	src: url('./Assets/fonts/._FFShamelFamily-SansOneBold.ttf');
  }
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'FF Shamel Family';
    background-image: linear-gradient(109.94deg,#0675E2 0% , #033E89 55.05%,#001141 100%);
    width: 100%;
    height: 100vh;
  }
